.add_button_btn {
    padding: 8px;
    border: 1px solid;
    border-radius: 10px;
    background: #b6bbff;
}

.add_button_btn:hover {
    padding: 8px;
    border: 1px solid;
    border-radius: 10px;
    background: #444550;
}

.add_button_btn ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.add_button_btn li a {
    text-decoration: none;
    color: #000;
   

}

.add_button_btn li a:hover {
   color: #fff;
}